.ingredients__item {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all .2s linear;
  text-decoration: none;
  color: white;
}

.ingredients__item:hover {
  opacity: .6;
}

.ingredients__item:active {
  opacity: .3;
}

.ingredients__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.ingredients__paragraph {
  min-height: 48px;
  text-align: center;
}