.burgerConstructor {
  grid-column: 2/3;
}

.burgerConstructor__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.burgerConstructor__list {
  min-height: 176px;
  max-height: 464px;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 0;
  margin: 0;
}

.burgerConstructor__item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.burgerConstructor__info {
  display: flex;
  justify-content: flex-end;
}

.burgerConstructor__price {
  display: flex;
  align-items: center;
  gap: 8px;
}