.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}

.app__main {
  width: 1240px;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  column-gap: 40px;
  margin: 0 auto;
  padding-bottom: 40px;
}