.ingridients {
  grid-column: 1/2;
}

.ingridients__tabs {
  display: flex;
}

.ingridients__types {
  height: 716px;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  overflow-y: scroll;
}

.ingridients__items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 32px;
}

.ingridients__item {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all .2s linear;
}

.ingridients__item:hover {
  opacity: .6;
}

.ingridients__item:active {
  opacity: .3;
}

.ingridients__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.ingridients__paragraph {
  min-height: 48px;
  text-align: center;
}

.ingridients__hidden {
  display: none;
}