.ingridients__item {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all .2s linear;
}

.ingridients__item:hover {
  opacity: .6;
}

.ingridients__item:active {
  opacity: .3;
}

.ingridients__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.ingridients__paragraph {
  min-height: 48px;
  text-align: center;
}