.buttons__container {
  display: none;
}

.buttons__container_active {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  color: #4C4CFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .2s linear;
}

.link:hover,
.button:hover {
  opacity: .6;
}

.button:active {
  opacity: .3;
}